{% load static %}
<html>
    <head>
        <title>T blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<script>

</script>
    <body>
	
        <div class="page-header">
            <h1><a href="/">T Blog</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                	{%block content%}
				<a href="{% url 'post_list' %}">Goto Posts</a><br>
				<a href="{% url 'post_add' %}">Add a post</a>
			{%endblock%}
			{% block scripts %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
