{%extends 'blog/base.html' %}

{%block content%}
{%if post%}	
		<div id="sortmenu"  style="color:#006699;font-size:20">Sort</div>
		<div id="pid"><a href="{% url 'post_sort' 'pid' %}">Sort according to published date</a></div><br>
		<a href="{% url 'post_sort' 'cid' %}" id="cid">Sort according to created date</a>

		{% for i in post %}
			{%if i.published_date %}
				<h3>{{forloop.counter}}</h3>
				<div align=RIGHT>
					{{i.author|title}}<br>
					<a href="{% url 'post_pro' i.pk %}">{{i.title}}</a><br>
					{{i.text|title}}<br>
					Created at : {{i.created_date|date:"l j f P"}}<br>
					Published at : {{i.published_date|date:"l j f P"}}<br>
				</div>
				<hr>
			{%endif%}
		{% endfor %}
{%elif postpro%}
		<a href="{% url 'post_list' %}">Back to Posts</a>
		<br>
		{{postpro.author}}<br>
		{{postpro.title}}<br>
		{{postpro.text}}<br>
		{{postpro.created_date}}<br>
		{{postpro.published_date}}<br>
{%endif%}
{%endblock%}

{% block scripts %}
	
    	<script>
      		$(document).ready(function(){
			$("#pid").hide();
			$("#cid").hide();
    			$("#sortmenu").click(function(){
       				 $("#pid").slideToggle(400);
				  $("#cid").slideToggle(400);
    			});
			
		});
   	 </script>
{% endblock %}    
